main {
  padding: 1em;

  h1 {
    margin: 0.5em 0;
  }

  p {
    color: var(--grayish__blue--dark);
    margin: 0.5em 0;
  }

  button {
    background-color: var(--soft__red);
    color: black;
    padding: 0.5em 2em;
    margin: 0.5em 0;
  }
}

.mainimage__mobile {
  height: 100%;
  width: 100%;
}
